head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    meta(name='viewport', content='initial-scale=1,minimum-scale=1,maximum-scale=1,width=device-width')
    title Tochka
    meta(name='description', content='')
    meta(name='keywords', content='')
    link(rel='icon', href='img/home/wallet.png', type='image/x-icon')
    link(rel='apple-touch-icon', href='img/home/wallet.png', type='image/png')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    link(href='css/main.css', rel='stylesheet')