.first-block
  display: flex
  flex-direction: row
  padding: 1em 2em 0 2em
  max-width: 1152px
  margin: 0 auto
  .first-block_left
    .first-title
      margin-bottom: 2em
      font-family: Geometria-Bold
      font-size: 32px
      white-space: nowrap
    p
      margin-bottom: 4em
    .about-wrapper
      height: 4em
      background-image: url('../img/home/button_1.png')
      background-repeat: no-repeat
      background-position: 0 0
      background-size: 220px
      transition: all .4s
      a
        position: relative
        .about
          padding: .5em 3em
          border-top: 2px black solid
          border-bottom: 2px black solid
        &::before
          content: ''
          width: 2px
          padding: .2em 0
          border-top: 1em black solid
          border-bottom: 1em black solid
          position: absolute
          transition: all .4s
          left: 0
          top: 0
        &::after
          content: ''
          width: 2px
          padding: .2em 0
          border-top: 1em black solid
          border-bottom: 1em black solid
          position: absolute
          transition: all .4s
          right: 0
          top: 0
  .first-block_right
    display: none

.gray-line
  width: 100%
  height: 1px
  background-color: #707070
  margin: 2em 0

.last-block
  padding: 0 2em
  max-width: 1152px
  margin: 0 auto 5em auto
  .last-title
    font-size: 26px
    margin-bottom: 1em
    font-family: Geometria-Bold
    white-space: nowrap
  .icons-wrapper
    display: grid
    grid-gap: .8em
    .icons-link
      display: flex
      flex-direction: row
      align-items: center
      &:hover
        img
          fill: yellow
      img
        margin-right: 1em
        transition: all .4s
      .icons-text