@media(min-width:768px)
  .first-block
    .first-block_left
      .first-title
        font-size: 48px
      p
        width: 60%
      a
    .first-block_right
  .gray-line
    margin: 6em 0
  .last-block
    .last-title
      font-size: 40px
    .icons-wrapper
      grid-template-columns: auto auto
      .icons-link
        img
        .icons-text

@media(min-width:1024px)
  .first-block
    padding-top: 8em
    .first-block_left
      .first-title
        margin-bottom: 1em
      p
        width: 80%
      .about-wrapper
        a
          &:hover
            &::before,
            &::after
              padding: 0
              border-bottom-width: 1.25em
              border-top-width: 1.25em
    .first-block_right
      display: block
      .wallet
        display: flex
        flex-direction: column
        align-items: center
        position: relative
        &::after
          content: url(../img/home/shadow.png)
          position: absolute
          left: 250px
          bottom: 0px
          animation-name: shadow
          animation-iteration-count: infinite
          animation-duration: 3s
        .wallet_img
          animation-name: wallet
          animation-iteration-count: infinite
          animation-duration: 3s
        .splash_img
  .gray-line
    margin: 10em 0 6em 0
  .last-block
    .last-title
    .icons-wrapper
      grid-template-columns: auto auto
      .icons-link
        img
        .icons-text

@media(min-width:1120px)
  .first-block
    .first-block_left
      .first-title
        font-size: 72px
      p
    .first-block_right
      .wallet
        .wallet_img
        .splash_img
  .last-block
    margin-bottom: 10em
    .last-title
      font-size: 56px
    .icons-wrapper
      grid-template-columns: auto auto auto
      .icons-link
        img
        .icons-text

@keyframes wallet
  0%
    transform: translateY(0)
  50%
    transform: translateY(20px)
  100%
    transform: translateY(0)

@keyframes shadow
  0%
    filter: brightness(150%)
  50%
    filter: brightness(0%)
  100%
    filter: brightness(150%)