@font-face
    font-family: 'Geometria'
    src: url('../fonts/Geometria.otf')

@font-face
    font-family: 'Geometria-Bold'
    src: url('../fonts/Geometria-Bold.otf')

*
    box-sizing: border-box

$text_color: #000000
$border_color: #dbca60
$data_color: #ECDB54
$bg_color: #FFFFFF

html
    scroll-behavior: smooth

body
    background-color: $bg_color
    font-family: Geometria, Arial

main
    overflow: hidden

h1
    
p

a
    color: $text_color
    text-decoration: none
    display: inline-block
