doctype html
html(lang='ru')
    include partials/head.pug
    body
        main
            section.first-block
                .first-block_left
                    h2.first-title Тестовое задание
                    p На экранах до 1024px показывать CSS-анимацию. При клике на кнопку плавный scroll до следующего блока.
                    .about-wrapper
                        a(href='#last-block')#linkAbout
                            .about Подробнее
                .first-block_right
                    a(href='').wallet
                        img(src='img/home/wallet.png' alt='wallet' width='300').wallet_img
                        img(src='img/home/splash.png' alt='splash' width='700').splash_img
            .gray-line
            section.last-block#last-block
                h2.last-title Колонки с иконками
                .icons-wrapper
                    - var list = ['','Банковские карты','Мессенджер','Интернет-банк','Электронный кошелёк','Баланс телефона']
                    - for(var i = 1;i < 6;i++)
                        a(href='#').icons-link
                            img(src='img/icons/icon_' + i + '.svg' alt='icon ' + i + '')
                            .icons-text= list[i]
            
        script(src='scripts/common.min.js')
    